{% if css_assets is undefined %}
    {% set css_assets=['styles.css'] %}
{% endif %}
{% if js_assets is undefined %}
    {% set js_assets=['libs.js','scripts.js'] %}
{% endif %}
{%- macro include_asset(filename,asset_type='css') -%}
    {%- assets filename -%}
        {%- if asset_type=='css'-%}
            <link rel='stylesheet' href="{{ ASSET_URL }}" type='text/css' media='all'/>
        {%- else -%}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {%- endif -%}
    {%- endassets -%}
{%- endmacro -%}


<!doctype html>
<html lang="en-US">
    <head>
        {% block head %}
            <title>{% block title %}{% endblock title %}</title>
            {% block meta %}
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
            {% endblock meta %}
            {% block favicon %}
            {% endblock favicon %}
            {% block styles %}
                {% for css in css_assets %}
                    {{ include_asset(css) }}
                {% endfor %}
            {% endblock styles %}
        {% endblock head %}
    </head>

    {% block body %}
        <body class="{% block body_class %}{% endblock %}">
            {% block nav %}
            {% endblock nav %}

            {% block content %}
            {% endblock content %}

            {% block footer %}
            {% endblock footer %}

            {% block modals %}
            {% endblock %}

            {% block ga %}{% endblock ga %}

            {% block default_scripts %}
                {% for js in js_assets %}
                    {{ include_asset(js,'js') }}
                {% endfor %}
            {% endblock default_scripts %}

            {% block scripts %}
            {% endblock scripts %}

        </body>
    {% endblock body %}
</html>
